@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("/images/background-img.jpg");
  background-size: cover;
  color: white;
}

.active {
  text-decoration: underline solid white 2px;
}

.activePage {
  background-color: rgb(0, 141, 141);
}

.productImage {
  width: 200px;
  height: 200px;
}

.pagList li {
  padding: 0.25em 0.5em;
  box-shadow: 0 0 0 1px white;
  transition: background-color 0.2s;
}

.pagList li a {
  text-decoration: none;
}

.pagList li:hover {
  background: rgb(0, 179, 179);
}
