@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("/images/background-img.jpg");
  background-size: cover;
  color: white;
}

.active {
  text-decoration: underline solid white 2px;
}

.productImage {
  width: 200px;
  height: 200px;
}

/* .product:first-child {
  margin-top: 1em;
}

.product:last-child {
  margin-bottom: 1em;
} */
